* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Shrikhand';
  font-style: normal;
  font-weight: 400;
  src: local('Shrikhand Regular'), local('Shrikhand-Regular'), url(https://fonts.gstatic.com/s/shrikhand/v3/a8IbNovtLWfR7T7bMJwrA4KR.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Space Mono'), local('SpaceMono-Regular'), url(https://fonts.gstatic.com/s/spacemono/v2/i7dPIFZifjKcF5UAWdDRYEF8RQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Space Mono Bold'), local('SpaceMono-Bold'), url(https://fonts.gstatic.com/s/spacemono/v2/i7dMIFZifjKcF5UAWdDRaPpZUFWaHg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  display: block;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

nav {
  width: 100%;
}

nav ul{
  display: inline-flex;
  list-style-type: none;
}

nav ul li {
  padding: 10px 30px 20px;

}

nav ul li a {
  font-size: 22px;
}

a {
  text-decoration: none;
}

.topbar {
  position: absolute;
  top: 0;
  z-index: 10;
  background-color: #eaf3f2;
}

.topbar a {
  color: rgb(85, 26, 139);
}

.leftbar {
  font-family: 'Shrikhand';
  position: absolute;
  display: inline-flex;
  left:0;
}

.leftbar a {
  font-size: 40px;
  padding: 0 0 0 10px;
}

img.homeimg {
  width: 21%;
  height: 21%;
  padding: 5px 0 0 30px;
}

.rightbar {
  font-family: 'Space Mono';
  float: right;
}

.rightbar::after, .rightbar::before {
  clear: both;
}

img.frontpic {
  display: block;
  width: 100%;
  position: relative;
  max-height: 700px;
}
