* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Space Mono'), local('SpaceMono-Regular'), url(https://fonts.gstatic.com/s/spacemono/v2/i7dPIFZifjKcF5UAWdDRYEF8RQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Space Mono Bold'), local('SpaceMono-Bold'), url(https://fonts.gstatic.com/s/spacemono/v2/i7dMIFZifjKcF5UAWdDRaPpZUFWaHg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: 'Space Mono';
  display: block;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1 {font-size: 40px}
h2 {font-size: 36px}
h3 {font-size: 30px}
h4 {font-size: 24px}
h5 {font-size: 20px}
h6 {font-size: 16px}
p {font-size: 14px}

nav, section {
  width: 100%;
}

nav ul{
  display: inline-flex;
  list-style-type: none;
}

nav ul li {
  padding: 10px 30px 20px;

}

nav ul li a {
  font-size: 22px;
}

a {
  text-decoration: none;
}

.topbar {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #eaf3f2; /*broken white*/
}

.topbar a {
  font-family: 'Space Mono';
  color: #551a8b; /*dark purple*/
}

.leftbar {
  position: absolute;
  display: inline-flex;
  left:0;
}

.leftbar a {
  font-size: 40px;
  font-weight: bold;
  padding: 0 20px;
}

.leftbar .fa-code {
  color: rgb(85, 26, 139);
  margin: auto 10px;
  font-weight: bold;
}

img.homeimg {
  width: 21%;
  height: 21%;
  padding: 5px 0 0 30px;
}

.rightbar {
  float: right;
}

.rightbar:after, .rightbar:before, .prow:after  {
  content: "";
  display: table;
  clear: both;
}

img.frontpic {
  display: block;
  width: 100%;
  position: relative;
  margin-top: -100px;
  max-height: 700px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 50px 0;
}

#about {
  background-color: #804a7b; /*light purple*/
  color: #ffb6c1; /*lavender pink*/
}


#project {
  background-color: #fff;
  color: #551a8b; /*dark purple*/
}

.col-4 {
  width: calc(100% * (3.9/12));
  float: left;
  padding: 5px 10px 0;
  text-align: center;
}

.col-4 i {
  color: #551a8b;
}

.col-4 a {
  color: #551a8b;
  font-weight: bold;
}

#contact {
  background-color: #ffb6c1; /*lavender pink*/
  color: #000;
}

#contact i {
  color: #000;
}

.inlinef {display: inline-flex;}

.inlinef h2 {margin-right: 20px}
